@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url("img/pass.gif") no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* Oscurecemos un poco el fondo para dar contraste */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.container {
  text-align: center;
  animation: fadeIn 1.5s ease;
  z-index: 1;
}


.logo h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.logo span {
  color: #00e1ff;
}

.logo p {
  font-weight: 300;
  opacity: 0.8;
  font-size: 1rem;
}

.login-box {
  margin-top: 2rem;
}

#pinInput {
  background: transparent;
  border: 2px solid #00e1ff;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  outline: none;
  width: 180px;
  text-align: center;
  font-size: 1rem;
}

#loginBtn {
  margin-left: 10px;
  background: #00e1ff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  color: #000;
  transition: all 0.3s;
}

#loginBtn:hover {
  background: #00b2cc;
  transform: scale(1.05);
}

#errorMsg {
  margin-top: 10px;
  color: #ff5555;
  font-size: 0.9rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
